body
{
    font-family: 'Segoe UI', sans-serif;
    margin:0;
    min-height:100vh;

    background: linear-gradient(
        180deg,
        #c2ddf8f7 0%,
        #a1c6ffe6 40%,
        #6eaafe 100%
    );
    background-attachment: fixed;
}

button
{
    cursor:pointer;
}


/* Center container */
.container
{
    width: 420px;
    margin: 40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align:center;
}

/* Headings */
h1, h2
{
    color:#2c3e50;
}

/* Inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select
{
    width:95%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

/* Buttons */
button
{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:6px;
    background:#5290c6;
    color:white;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover
{
    background:#3d6497;
}

/* Tables */
table
{
    border-collapse: collapse;
    background:white;
}

th
{
    background:#4facfe;
    color:white;
    padding:12px;
}

td
{
    padding:10px;
    text-align:center;
}

tr:nth-child(even)
{
    background:#f2f6ff;
}

.header
{
    width:100%;
    height:70px;
    background: linear-gradient(90deg, #2c3e50, #4ca1af);
    color:white;
    display:flex;
    align-items:center;
    padding:0 25px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

/* Logo */
.header img
{
    width:40px;
    height:40px;
    margin-right:15px;
}

/* Title */
.header-title
{
    font-size:22px;
    font-weight:600;
    letter-spacing:0.5px;
}
